.tabs {
  width: 50%;
  border: none;
}

.tabHeadings {
  background-color: #f1f1f1;
}

.tabButton {
  padding: 2rem 2rem;
  border: none;
  float: left;
  transition: 0.3s;
}

.tabButton:hover {
  background-color: #ddd;
}

.tabButton.active {
  background-color: #ccc;
}

.tabContent {
  display: none;
  text-align: left;
  padding: 7rem 7rem;
  animation: fadeEffect 1s;
}

.active {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
